<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Strainer Coffee{% endblock title %} </title>
        {%load static %}
        <link rel="icon" type="image/x-icon" href="{% static 'publica/assets/img/favicon.ico' %}" >                                            
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'publica/css/styles.css'   %}?v={% now 'U' %}">
        {% block css %}
        <link rel="stylesheet" href="{% static 'publica/css/principal.css'%}?v={% now 'U' %}">
        {% endblock  %}
    </head>
    <body>
        <header class="header">
            <nav class="top-nav">
                <a href="./">
                    <img class="logo-top-nav" src="{% static 'publica/assets/img/logo/logo3_3.png'  %}" alt="Strainer Coffee" >
                </a>
                <input type="checkbox" id="menu">
                <label for="menu" class="menu-label"> ☰ </label>
                <ul>
                    {% block menu %}
                    <li><a href="{% url 'inicio' %}" class="lnkactive">Inicio</a></li>
                    <li><a href="{% url 'origenes' %}">Orígenes</a></li>
                    <li><a href="{% url 'tienda' %}">Tienda 2</a></li>
                    <li><a href="{% url 'sucursales' %}">Dónde encontrarnos</a></li>
                    <li><a href="{% url 'contacto' %}">Contacto</a></li>
                    {% endblock %}
                </ul>
            </nav>
            <section class="coffee-header1">
                <div class="transbox1">
                    <img class="index-logo1" src="{% static 'publica/assets/img/fotos/taza.jpeg'  %}">
                    <div class="contentfl">
                        <h1>{% block title2 %}Strainer Coffee{% endblock title2 %}</h1>
                        <h2>{% block subtitle %}A new way of drinking coffee{% endblock subtitle %}</h2>
                    </div>
                </div>
            </section>
        </header>
    
        <main>
            {% block contenido %}
            {% endblock contenido %}
        </main>      
    {% include './footer.html' %}
    </body>
</html>