{% extends './base.html' %}
{%load static %}

{% block titulo %}Tienda{% endblock titulo %}

{% block css %}
    <link rel="stylesheet" href="{% static 'publica/css/tienda.css'%}?v={% now 'U' %}">
{% endblock css %}

{% block menu %}
    <li><a href="../index">Inicio</a></li>
    <li><a href="../origenes">Orígenes</a></li>
    <li><a href="./" class="lnkactive">Tienda Online</a></li>
    <li><a href="../sucursales">Dónde encontrarnos</a></li>
    <li><a href="../contacto">Contacto</a></li>
{% endblock %}

{% block title2 %}Nuestros Productos{% endblock title2 %}
{% block subtitle %}¡Date un gusto!{% endblock subtitle %}
{% block contenido %}
    <br>
    <div class="with-sidebar">
        <section class="contenedor-filtros">
            <form onsubmit="return false;">
                <label for="filtro_nombre">Buscar</label>
                <input name=filtro_nombre id="filtro_nombre" type="search" placeholder="Nombre Producto...">
                <br>
                <label for="filtro_categoria">Categoría</label>
                <select name="filtro_categoria" id="filtro_categoria">
                    <option selected value="Todas">Todas</option>
                    {% for categoria in categorias %}
                        <option value="{{categoria.id}}">{{categoria.categoria}}</option>
                    {% endfor %}              
                </select>
            </form>
        </section>
        <section class="content">
            <div id="contenedor-productos" class="contenedor-productos">
                {% for producto in productos %}
                    <a href="./producto/{{producto.id}}" class="producto">
                            <div class="box-img">
                                <img class="producto--img" src="{% static 'publica/assets/img/productos/' %}{{producto.imagen}}">
                            </div>
                            <div class="producto--datos">
                                <h3 class="producto--nombre">{{producto.nombre}}</h3>
                                <p>${{producto.precio|floatformat:"2g"}}</p>
                            </div>
                    </a>
                {% endfor %}              
            </div>
        </section>
    </div>
    <!--<aside></aside>-->
    {% comment %} <script type="module" src="{% static 'publica/js/tienda.js' %}"></script> {% endcomment %}
{% endblock contenido %}
