{% extends '../publica/base.html' %} 
{% load static %}
{% comment %} {% load crispy_forms_tags %}  {% endcomment %}
{% block titulo %} Registro {% endblock titulo %}
{% block css %}

<link rel="stylesheet" href="{% static 'publica/css/contacto.css'%}?v={% now 'U' %}"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


{% endblock css %}

{% block title2 %} Registrate {% endblock title2 %}
{% block subtitle %} {% endblock subtitle %}

{% block contenido %}
{% comment %} 
<div class="registro">
    <form method="post" action="">
        {% csrf_token %}
            {{ form.as_p }}  
        <input type="submit" class="btn btn-success"></button>
    </form>
</div>  
{% endcomment %}

<div class="registro">
    <form method="post" action="">
        {% csrf_token %}
        
        {% for field in form %}
            <div class="form-row">
                <div class="label">{{ field.label_tag }}</div>
                <div class="field">
                    {{ field }}
                    {% if field.help_text %}
                        <span class="help-text">{{ field.help_text }}</span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        
        <input type="submit" class="btn btn-success">
    </form>
</div>








{% endblock contenido %}